
li.nav-item {
  padding: 0 10px;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
}
a.card {
  box-shadow: 2px 4px 20px 0px #d8d8d8;
}
a.card:hover {
  text-decoration: none;
  box-shadow: 2px 3px 25px 0px #dbdee0;
}
main {
  background-color: #ecececa4;
}
p .fa-caret-down {
  color: red;
}
li.nav-item {
  padding: 0 10px;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
}
a.card {
  box-shadow: 2px 4px 20px 0px #d8d8d8;
}
a.card:hover {
  text-decoration: none;
  box-shadow: 2px 3px 25px 0px #dbdee0;
}
main {
  background-color: #ecececa4;
}
p .fa-caret-down {
  color: red;
}
