/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;1,300&display=swap');

*,a, span ,input{
    font-family: 'Source Sans Pro', sans-serif;
} */

/* Thanh scrol; */

::-webkit-scrollbar {
  width: 5px;
  background-color: light-grey;
  height: 100px;
}
::-webkit-scrollbar-thumb {
  background-color: #282828;
  /* border-radius: 10px; */
}
/* CSS CHUNG */
.text-white {
  color: white;
}
.text-black {
  color: #282828;
}
.text-red {
  color: red;
}
.font-bold {
  font-weight: bold;
}
.mt-1 {
  margin-top: 1rem;
}
/* Begin: Header */
.header {
  /* margin-bottom: 20px;
      width: 100%; */
  /* padding: 12px 0; */
}

/* Menu-Area */
#menu-area {
  height: 70px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 60px;
  position: fixed;
  width: 100%;
  top: 0;
  transition: background 0.5s;
}
.header-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-menu {
}

/* Logo */
.logo {
  width: 200px;
}
.logo__link {
  /* text-decoration: none; */
}
.logo__img {
  width: 200px;
  /* padding-top: 10px; */
  transition: height 0.5s;
}

/* Menu */
.menu-list {
  margin-left: 30px;
  width: 700px;
  list-style: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: --ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-item {
  position: relative;
}
.menu-item__link {
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--white-color);
  padding: 10px 0;
  text-shadow: none;
  position: relative;
}
.menu-item__link:hover {
  cursor: pointer;
  /* color: var(--primary-color); */
}
.menu-item__link::after {
  content: "";
  position: absolute;
  border-bottom: 2px solid var(--white-color);
  width: 110px;
  max-width: 0%;
  left: 0;
  bottom: 0;
  padding: 12px 0 0;
  -webkit-transition: max-width 0.5s;
  -moz-transition: max-width 0.5s;
  transition: max-width 0.5s;
}
.menu-item__link:hover::after {
  max-width: 100%;
}
.menu-item:hover .menu-children {
  display: block;
}
.menu-children {
  width: 250px;
  position: absolute;
  /* height: 120px; */
  border-radius: 0 0 3px 3px;
  background-color: #282828;
  display: none;
  top: 230%;
  left: 0;
  /* box-shadow: 1px 2px 3p x #ccc; */
  z-index: 10;
}
.menu-children::before {
  position: absolute;
  z-index: 10;
  content: "";
  width: 100%;
  background: transparent;
  transform: translateY(-100%);
  height: 20px;
}
.children-list {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  background-color: #fff;
  /* position: relative; */
  list-style: none;
}
.children-item {
  width: 100%;
  height: 40px;
  color: var(--text-color);
  display: inline-flex;
  align-items: center;
  /* border-radius: 4px; */
  position: relative;
  border-bottom: 1px dotted grey;
}
.children-item:last-child {
  border: none;
}
.children-item a {
  width: 100%;
  font-size: 1.4rem;
  color: white;
  text-decoration: dashed;
  padding-left: 10px;
  text-transform: capitalize;
  font-weight: 400;
}
.children-item:hover a {
  transition: all 0.2s linear;
  /* background-color: var(--primary-color); */
  color: white;
}
.children-item:hover {
  transition: all 0.2s linear;
  background-color: var(--primary-color);
  cursor: pointer;
}
.children-link {
  position: relative;
  text-decoration: none;
  color: var(--text-color);
  top: 0;
}
.login {
  border-radius: 50px;
  padding: 9px 19px;
  background-color: #ff929b;
  text-decoration: none;
  font-size: 1.4rem;
  border: 1px solid #ff929b;
  color: var(--white-color);
}
.login:hover {
  background-color: transparent;
  border: 1px solid #ff929b;
  transition: all 0.2s linear;
}
.login-children .my-account span {
  font-size: 1.4rem;
  font-weight: 500;
}
.my-account:hover {
  cursor: pointer;
}
.login-children__list {
  margin-top: 2.3rem;
  display: none;
  position: absolute;
  top: 100%;
  width: 200px;
  left: 10%;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 0 0 4px 4px;
}
.login-item {
  border-bottom: 1px dotted grey;
}
li.login-item:last-child {
  border: none;
  outline: 0;
  border-radius: 0 0 4px 4px;
}
.login-children__list .login-link {
  margin-left: 10px;
  padding: 14px 0;
  display: block;
  font-size: 1.4em;
  font-weight: 500;
  color: #282828;
  text-decoration: none;
}
.login-children__list .login-link i {
  margin-right: 10px;
}
.login-item:hover {
  background-color: #282828;
}
.login-item:hover a {
  color: white;
}
.cart {
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 0 8px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  color: var(--white-color);
}
.cart-icon {
  margin-left: 30px;
  font-size: 3rem;
  text-decoration: none;
}
.cart-notice {
  position: absolute;
  padding: 2px 7px;
  font-size: 1.4rem;
  line-height: 1.4rem;
  border-radius: 10px;
  border: 2px solid #ff929b;
  color: var(--primary-color);
  background-color: var(--white-color);
  top: -8px;
  right: -8px;
}

/* Banner */
.banner {
  /* background: url(../images/background.jpg); */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(78, 74, 74, 0.5)),
    url(../images/background.jpg) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}
.banners {
  padding-top: 70px;
  position: relative;
}
#search-bn {
  background-color: white;
  width: 40%;
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  height: 40px;
  box-shadow: 0px 0px 3px 0px rgb(199, 186, 175);
  margin-top: 1rem;
}
.banners .search-sp {
  padding: 5px 20px;
  border: 0;
  outline: 0;
  width: 90%;
}
.banners .search-sp:focus {
  outline: 0;
}
.banners .search-bn {
  font-size: 2rem;
  margin-left: 10px;
}
.banners img {
  width: 100%;
  height: auto;
}

.banner-texts {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: BalooExtra !important;
  font-size: 3.6rem;
  width: 100%;
  line-height: 1.5;
  text-transform: uppercase;
}
.banner-texts h1 {
  font-size: 4rem;
}
.banner-texts p {
  font-size: 3rem;
  font-weight: 700;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: BalooExtra !important;
  font-size: 3.6rem;
  width: 100%;
}
.banner-text h1 {
  font-family: big john;
  font-size: 6rem;
}
.banner-text a {
  text-decoration: none;
  background: var(--text-color);
  color: var(--white-color);
  padding: 15px 30px;
  display: inline-block;
  margin-top: 40px;
  border-radius: 50px;
}

#menu-area.cus-nav {
  background: #282828;
  z-index: 999;
}

#menu-area.cus-nav a {
  color: var(--white-color);
}

/* header trang con */
#menu-areas.about-us__link:hover {
  background: #282828;
  z-index: 999;
}

#menu-areas.about-us__link:hover a {
  color: var(--white-color);
}

#menu-areas.about-us__link:hover .logo__img {
  height: 65px;
}

#menu-areas {
  height: 70px;
  z-index: 999;
  background-color: #282828;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 60px;
  position: fixed;
  width: 100%;
  top: 0;
  transition: background 0.5s;
}
/* header trang con */

/* End: Header */
.scroll-top:hover {
  cursor: pointer;
}
.scroll-top {
  position: fixed;
  width: 40px;
  height: 40px;
  right: 10px;
  bottom: -20%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  color: var(--white-color);
  background-color: var(--black-color);
  border-radius: 50%;
  z-index: 10000;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  /* visibility: hidden; */
  text-decoration: none;
}
.scroll-top__icon {
  font-size: 2rem;
}
.show-scroll {
  /* visibility: visible; */
  bottom: 15px;
}
/* =================================================================================================== */
/* Begin: Main */
.article {
  margin-top: 40px;
}

/* Featured Products */
.featured-products {
}
.pt-2 {
  padding-top: 3rem;
}
.line-bottom::before {
  content: "";
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
}
.line-bottom {
  position: relative;
}

/* Featured Products Title */
.featured-product__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-1 {
  color: var(--primary-color);
  font-size: 2.2rem;
  margin-bottom: 5px;
  font-family: Muli, sans-serif;
  font-weight: bold;
  margin: 10px 0;
}
.text-2 {
  font-size: 3.6rem;
  text-align: center;
  color: #000000;
  font-family: "BalooExtra" !important;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  padding: 0 50px;
  margin: 20px 0;
}
.icon-bottom-title {
  background: url(/assets/images/home_line.webp) no-repeat center;
  width: 315px;
  height: 30px;
}

/* Featured Products Content */
.featured-product__content {
  display: flex;
  flex-direction: column;
}
.list-product {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.product-cart {
  width: calc(25% - 30px);
  margin: 0 15px;
  margin-bottom: 32px;
  box-shadow: 0px 2px 1.5px 0px #ccc;
  border-top: 1px solid #f1f1f1;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
}
.product-cart:hover .product-cart__info {
  top: 0;
}
.product-cart:hover .product-cart__img img {
  transform: scale(1.2, 1.2);
}
.product-cart__tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  padding: 16px;
  width: 100%;
  top: 0;
  z-index: 1;
}
.tag-new {
  font-size: 1.8rem;
  font-weight: 800;
  color: var(--white-color);
  width: 40px;
  height: 40px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-20deg);
}
.tag-discount {
  font-size: 1.6rem;
  font-weight: 800;
  color: var(--primary-color);
  width: 40px;
  height: 40px;
  background-color: var(--black-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-cart__img {
  overflow: hidden;
}

.product-cart__img img {
  width: 100%;
  transition: all 0.2s;
  vertical-align: middle;
  border-style: none;
}
.product-cart__info {
  background: #f5f5f5;
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 42px;
}
.info-title {
  width: 100%;
  font-family: Muli;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin-top: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 8px;
}
.info-price {
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-origin-price {
  font-family: Muli;
  font-size: 1.6rem;
  font-weight: 700;
  color: #8a733f;
  text-align: center;
  margin-top: 24px;
}
.info-sale-price {
  margin-left: 8px;
  color: #bebebe !important;
  transform: scale(0.9, 0.9);
  text-decoration: line-through;
  margin-top: 24px;
  font-size: 1.5rem;
}
.btn-order-product {
  min-width: 124px;
  height: 30px;
  padding: 2px 16px;
  margin-top: 16px;
  margin-bottom: 12px;
}
.btn-order-product:hover {
  border: 1px solid var(--primary-color);
  background-color: var(--white-color);
  color: var(--primary-color);
}

.btn-view-all {
  margin-top: 16px;
  align-self: center;
  font-size: 1.8rem;
  border: 1px solid var(--primary-color);
}
.btn-view-all a {
  color: var(--white-color);
  text-decoration: none;
  padding: 10px 16px;
}
.btn-view-all a:hover {
  color: var(--primary-color);
}
.btn-view-all:hover {
  border: 1px solid var(--primary-color);
  background-color: var(--white-color);
  color: var(--primary-color);
}
.btn-view-all:hover a {
  color: var(--primary-color);
}

/* Slider */
.slider {
  margin: 40px 0 20px;
  position: relative;
}
/* Slider image */
.slider-list {
}
.slider-item {
  width: 100%;
  border-radius: 4px;
}
/* Slider content */
.slider-content {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: BalooExtra !important;
  font-size: 3.6rem;
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
}
.slider-content__heading {
  margin: 0 0 20px;
}
.slider-content__text {
  font-size: 1.8rem;
  line-height: 1.8rem;
  padding: 20px 0;
}
.slider-content__btn {
  padding: 12px 30px;
}
.slider-content__btn:hover {
  /* border: 1px solid var(--primary-color);
    background-color: var(--white-color);
    color: var(--primary-color); */
  opacity: 0.5;
}
/* End: Main */

/* ================================================================================================== */
.footer {
  height: 400px;
  background-color: var(--text-color);
  padding: 20px 0 0;
}

.footer-main {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  color: var(--white-color);
}

.footer-main h4 {
  font-size: 1.6rem;
  line-height: 1.6rem;
  margin-bottom: 10px;
}

.care-item,
.about-us__item,
.follow-item {
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 8px 0;
}

.care-link:hover,
.about-us__link:hover,
.follow-link:hover {
  opacity: 0.5;
}

.care-link,
.about-us__link,
.follow-link {
  color: var(--white-color);
  text-decoration: none;
}

.pay {
  position: relative;
  width: 160px;
}

.pay-method {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.pay-method__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.visa-logo {
  width: 48px;
  height: 20px;
}

.paypal-logo,
.momo-logo {
  width: 35px;
  height: 35px;
}

.follow-icon {
  padding-right: 5px;
}

/* CART  */
main.container{
  width: 1200px;
  margin: 0px auto;
}
main.container nav.nav-top {
  box-shadow: 1px 0px 60px 0 rgb(12 18 34 / 11%),
    2px 2px 90px 0 rgb(23 33 54 / 11%);
  padding: 1.3rem 0;
  margin-top: 1rem;
  border-radius: 4px;
}
main.container nav.nav-top ul {
  display: flex;
  list-style: none;
}
main.container nav.nav-top ul li {
}
main.container nav.nav-top ul span {
  font-weight: bold;
  font-size: 1.6rem;
}
main.container nav.nav-top ul li a {
  text-decoration: none;
  padding: 0 10px;
  font-size: 1.6rem;
  color: #282828;
  transition: color 0.5s;
  font-weight: bold;
}
main.container nav.nav-top ul li a:hover {
  color: #8a733f;
}
main.container nav.nav-top ul li a i {
  padding-right: 5px;
}

section.product-carts {
  width: 100%;
  margin: 1rem auto;
  padding-bottom: 10rem;
  box-shadow: 1px 0px 60px 0 rgb(12 18 34 / 11%),
    2px 2px 90px 0 rgb(23 33 54 / 11%);
  border-radius: 4px;
}
section.product-carts .product-carts_title {
  font-size: 2.5rem;
  color: #282828;
  font-weight: bold;
  padding: 2rem 1rem;
  border-bottom: 1px dotted grey;
}
section.product-carts .cart-list {
  margin: 1rem 0;
}
section.product-carts .cart-list .table-cart {
  width: 100%;
  padding: 0 1rem;
}
section.product-carts .cart-list .table-cart thead tr.title-table {
  font-weight: bold;
}
section.product-carts .cart-list .table-cart thead tr.title-table th {
  font-size: 1.9rem;
  padding: 1rem 0;
}
section.product-carts .cart-list .table-cart tbody {
  line-height: 2;
  margin-top: 1rem;
}
section.product-carts .cart-list .table-cart tr {
  text-align: left;
}
section.product-carts .cart-list .table-cart tbody tr td.img-name {
  display: flex;
}
section.product-carts .cart-list .table-cart tbody tr td.img-name img {
  width: 70px;
  height: auto;
  border-radius: 4px;
}
section.product-carts .cart-list .table-cart tbody tr td.img-name a {
  text-decoration: none;
  color: #282828;
  font-weight: 500;
  margin-left: 10px;
}
section.product-carts .cart-list .table-cart tbody tr td {
  font-size: 1.7rem;
  padding: 1rem 0;
}
section.product-carts .cart-list .table-cart tbody tr td input.numCart {
  width: 50px;
}
.tooltip {
  display: inline-block;
  color: #282828;
}

.tooltip .tooltiptext {
  font-family: Muli, sans-serif;
  visibility: hidden;
  color: #282828;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.cart-act {
  border-top: 1px dotted grey;
  width: 100%;
  padding-top: 4rem;
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
}
.cart-act .cart-act_shopping {
  padding-top: 1.4rem;
}
.cart-act .cart-act_shopping a {
  padding: 12px 25px;
  border: 0;
  background-color: var(--primary-color);
  color: white;
  font-weight: 600;
  text-decoration: none;
  border-radius: 4px;
}
.cart-act .cart-act_shopping a:hover {
  opacity: 0.9;
}
.cart-act .cart-act_checkout {
  /* background-color: var(--primary-color); */
  width: 500px;
  box-shadow: 1px 0px 60px 0 rgb(12 18 34 / 11%),
    2px 2px 90px 0 rgb(23 33 54 / 11%);
  border-radius: 4px;
  padding: 1rem;
  line-height: 2;
}
.cart-act .cart-act_checkout h3 {
  font-size: 2rem;
}
.cart-act .cart-act_checkout .price-provisional {
  border-bottom: 1px solid grey;
}
.cart-act .cart-act_checkout .price-provisional,
.cart-act .cart-act_checkout .price-total {
  font-weight: 500;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}
.cart-act .cart-act_checkout a.checkout-btn {
  padding: 7px 20px;
  margin: 2rem 0;
  border: 0;
  display: block;
  text-decoration: none;
  border-radius: 4px;
  background-color: var(--primary-color);
  color: white;
  font-weight: 600;
  text-align: center;
}
.cart-act .cart-act_checkout a.checkout-btn:hover {
  opacity: 0.9;
}
.size-cart {
  font-weight: 800;
  background-color: #ff929b;
  font-size: 1.4rem;
  border-radius: 4px;
  padding: 2px 4px;
}

/* END CART  */

/* Slide Bar */
.app__content {
  padding-top: 36px;
}
.slidebar {
  border-radius: 2px;
  background-color: var(--white-color);
}
.slidebar-menu {
}
.slidebar-menu__heading {
  font-size: 1.8rem;
  color: var(--text-color);
  margin-top: 0;
  padding: 12px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.slidebar-menu__category {
  padding: 0 0 8px 0;
  margin-left: 9px;
}
.category-item {
  position: relative;
}
.category-item:first-child::before{
  display: none;
}
.category-item::before{
  content: "";
  position: absolute;
  top: 0;
  right: 26px;
  left: 8px;
  border-top: 1px solid #e1e1e1;
}
.category-item:hover,
.checkbox:hover {
  cursor: pointer;
}
/* CheckBox */
.checkbox {
  display: inline-block;
  width: 100%;
  margin: 10px 0;
}
.checkbox input[type="checkbox"] {
  display: none;
}
.icon-checkbox {
  height: 16px;
  width: 16px;
  margin-left: 10px;
  display: inline-block;
  border: 1px solid var(--text-color);
  position: relative;
  bottom: -3px;
}
.checkbox input[type="checkbox"]:checked + .icon-checkbox::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 6px;
    background: transparent;
    top: 1px;
    left: 2px;
    border: 2px solid var(--white-color);
    border-top: none;
    border-right: none;
 
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.checkbox input[type="checkbox"]:checked + .icon-checkbox {
  background-color: var(--primary-color);
}
/* CheckBox */

.category-name {
  font-size: 1.4rem;
  color: var(--text-color);
  text-decoration: none;
  padding: 0 20px;
  transition: right linear 0.2s;
  right: 0;
}
.slidebar-filter__price {
}
.slidebar-favorite__product {
}
