<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>Admin</title>
  </head>
  <body>
    <div id="wrapper">
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#">Happy Tea</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarColor01"
            aria-controls="navbarColor01"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="container collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active dropdown">
                <a
                  class="nav-link btn btn-secondary dropdown-toggle"
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  href="#"
                  >Trang chủ<span class="sr-only">(current)</span></a
                >
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  href="#"
                  >Home<span class="sr-only">(current)</span></a
                >
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
            </ul>
            <form class="form-inline">
              <input
                class="form-control mr-sm-2"
                id="searchCategory"
                type="search"
                placeholder="Tìm kiếm..."
                aria-label="Search"
              />
              <!-- <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Tìm kiếm</button> -->
            </form>
          </div>
        </nav>
      </header>
      <main class="pt-3 container">
        <section class="name-pages">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">
                <h5>Danh mục</h5>
              </li>
            </ol>
          </nav>
        </section>
        <section class="row display-flex justify-content-between ml-0 mr-0">
          <button class="btn btn-success mb-3">
            <i class="fas fa-plus-circle"></i> Thêm danh mục
          </button>
          <select class="form-control col-4">
            <option>Sắp xếp theo</option>
            <option>Theo A-Z</option>
            <option>Theo Z-A</option>
          </select>
        </section>
        <section class="category">
          <table class="table border-0 rounded">
            <thead class="thead-dark">
              <tr>
                <th style="width: 10px" scope="col">STT</th>
                <th scope="col">Tên</th>
                <th style="width: 10px" scope="col"></th>
                <th style="width: 10px" scope="col"></th>
              </tr>
            </thead>
            <tbody id="tableCategory">
              <tr>
                <th scope="row">1</th>
                <td>Trà sữa</td>
                <td><button class="btn btn-warning">Sửa</button></td>
                <td><button class="btn btn-danger">Sửa</button></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Trà sữa</td>
                <td><button class="btn btn-warning">Sửa</button></td>
                <td><button class="btn btn-danger">Sửa</button></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Cà phê</td>
                <td><button class="btn btn-warning">Sửa</button></td>
                <td><button class="btn btn-danger">Sửa</button></td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Thức ăn nhanh</td>
                <td><button class="btn btn-warning">Sửa</button></td>
                <td><button class="btn btn-danger">Sửa</button></td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Bánh mì</td>
                <td><button class="btn btn-warning">Sửa</button></td>
                <td><button class="btn btn-danger">Sửa</button></td>
              </tr>
            </tbody>
          </table>
        </section>
      </main>
    </div>
  </body>
  <script>
    $(document).ready(function () {
      $("#searchCategory").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#tableCategory tr").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
        });
      });
    });
  </script>
  <style>
    li.nav-item {
      padding: 0 10px;
    }
    .navbar-dark .navbar-nav .nav-link {
      color: white;
    }
    a.card {
      box-shadow: 2px 4px 20px 0px #d8d8d8;
    }
    a.card:hover {
      text-decoration: none;
      box-shadow: 2px 3px 25px 0px #dbdee0;
    }
    main {
      background-color: #ecececa4;
    }
    p .fa-caret-down {
      color: red;
    }
  </style>
</html>
