<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    />
    <title>Đăng nhập</title>
  </head>
  <style>
    #login {
      z-index: 99999;
      position: relative;
      top: 100%;
      left: 50%;
      transform: translate(-50%, 0%);
      box-shadow: 0px 0px 4px 0px grey;
      max-width: 600px;
      height: 80vh;
    }
  </style>
  <body>
    <div id="login">
      <form action="" id="form-login">
        <h3 class="login-title">Creat account</h3>
        <p>Bạn chưa có tài khoản? <a href="">Đăng ký</a></p>
        <form action="">
          <input type="text" name="" id="" placeholder="Email" class="email-ip"/>
          <input type="text" name="" id="" placeholder="Mật khẩu" />
          <div class="div">
            <input type="checkbox" />
            <label for="">Lưu mật khẩu</label>
          </div>
          <button>
            <span>Đăng nhập</span><i class="fas fa-arrow-right"></i>
          </button>
        </form>
      </form>
    </div>
  </body>
</html>
